<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Expenses</title>
</head>

<body>
    <h1>Expenses list</h1>
    <div class='loginboxx'>
        <div class="success">
            {{messages.success}}
        </div>
        <table class="expenseTable" border="1">
            <tr>

                <th>Cost</th>
                <th>Date</th>

            </tr>
            {{#each expenseCatagory}}
            <tr>
                <td>R{{this.amount}}</td>
                <td>{{this.expense_date}}</td>
            </tr>
            {{/each}}

        </table>
        <h3>{{totalSpending}}</h3>
        <a href="/signup"><button class="loginBtn">Reset</button></a>



    </div>


</body>

</html>